extends layout

block css 
    link(rel="stylesheet", href="/stylesheets/member.css")

block mainContent
    h1 Welcome, #{useremail} 
    br
    form(action="/logOut" method="post") 
        button(type="submit") Log Out