extends layout

block css
    link(rel="stylesheet", href="/stylesheets/user.css")

block mainContent
    ul 
        li 
            a.link#signUPLink(href="/") sign up 
        li 
            a.link#signINLink(href="/") sign in

    .outerDiv#signUPDiv
        .formDiv
            p Sign-up Form
            form(action="/signUP" method="post")
                label(for="email") Email: 
                input(type="text" id="email" name="email")
                label(for="password") Password: 
                input(type="text" id="password" name="password")
                button(type="submit") Submit
    .outerDiv.hide#signINDiv
        .formDiv
            p Sign-in Form
            form(action="/signIN" method="post")
                label(for="email") Email: 
                input(type="text" id="email" name="email")
                label(for="password") Password: 
                input(type="text" id="password" name="password")
                button(type="submit") Submit

    if errors
        each error in errors
            p.errorMsg #{error.msg}

    if userMsg
        p.errorMsg= userMsg

    script(src='/js/user.js')